* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "email gender-select"
    "email gender-select""
    "pass pass"
    "message-input car-input"
    "message-input submit";
    grid-gap: 8px;
}

.email {
    grid-area: email;
}

.gender-select {
    grid-area: gender-select;
}

.pass {
    grid-area: pass;
}

.message-input {
    grid-area: message-input;
    resize: vertical;
    max-height: 120px;
}

.car-input {
    grid-area: car-input;
}

.submit-button {
    grid-area: submit-button ;
}

::placeholder {
    color: pink;
}