/* Set some defaults */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
}

.wrapper {
    margin: 0 auto 0 60px;
    width: 1000px;
    background-color: #ff0000;
}

.img-cactus {
    width: 300px;
    height: 250px;
    background-image: url(img/cactus.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Style navigation items (menu) */
nav {
    width: 100%;
    height: 100px;
    background-color: #FFF;
}

/* Style to move around entire navigation in the site */
ul {
    margin-left: 60px;
}

/* Move around lists */
ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
}

/* Text inside of list */
ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    color: #1E1E1E;
    padding: 0 20px;
}

/* Text inside of list */
ul li a:hover {
    color: red;
}