:root {
    --even-color: #E5C1E5;
    --odd-color: #F3F3F3;
}

table {
    width: 400px;

}

th, caption {
    text-align: left;
}

table, th, td {
    border: 1px solid #111;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--even-color);
}

tr:nth-child(odd) {
    background-color: var(--odd-color);
}